# app/templates/question/question_form.html
{% extends 'base.html' %}
{% block content %}
<!-- 질문 등록 -->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문 올리기</h5>
    <!-- <form class="my-3" action="{{ url_for('question.create') }}"> -->
    <form method="post" class="my-3" action="{{ url_for('question.create') }}">

       {{ form.csrf_token }}
		<!-- 오류표시 Start -->
        {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field, errors in form.errors.items() %}
                    <strong>{{ form[field].label }}</strong>
                    <ul>
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
        {% endif %}
        <!-- 오류표시 End -->

        {# Form에서 작성한 라벨 #}
        {{ form.subject.label }}

		{# Form에서 작성한 필드. 값을 입력 받아야 하는 '폼'이므로 호출연산자로 작성 #}
        {{ form.subject(class="form-control") }}
        <p>
        {{ form.content.label }}
        {{ form.content(class="form-control") }}
        <p>   
        <button type="submit" class="btn btn-dark">저장</button>
    </form>
</div>
{% endblock %}