<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container px-5">
        <!-- <a class="navbar-brand" href="/">YEONJI KIM</a> -->
        <a class="navbar-brand" href=" {{ url_for('basic.index') }}">YEONJI KIM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- QnA, Login, SignUP 버튼 생성 -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 grid gap-2 column-gap-3">
                {# <!-- QnA 게시판으로 이동 -> 1) 상대경로로 이동(/question/list/) 2) {{ url_for('question.post_list') }} -->  #}
                <!-- <li class="nav-item"><a class="nav-link" href="/question/list">QnA</a></li> -->
                <li class="nav-item"><a class="nav-link" href=" {{ url_for('question._list') }} ">QnA</a></li>
            <!-- 로그인 - 로그아웃 조건문으로 확인. 이후 auth_views.py 사용 -->
            {% if g.user %}
            <ul class="navbar-nav">
                <li class="nav-item ">
                    {{ g.user.username }}
                    <a class="nav-link"  class="btn btn-light"  href="{{ url_for('auth.logout') }}" ></a>
                </li>
            </ul>
            {% else %}

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#">계정생성</a> -->
                    <a class="nav-link" class="btn btn-light" href="{{ url_for('auth.signup') }}">SignUp</a> 
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#">로그인</a> -->
                    <a class="nav-link" class="btn btn-light" href="{{ url_for('auth.login') }}">Login</a>
                </li>
            </ul>

            <!-- 로그인-로그아웃 달 때 함께 달아줌 -->
            {% endif %}
                <li class="nav-item"><a class="btn btn-light" href="{{ url_for('auth.signup')}}" role="button">SignUp</a></li>
            </ul>

        </div>
    </div>
</nav>
